@model CoursesIndexViewModel
@{
    int? currentPage = Model?.Pagination?.CurrentPage;
    int? pageSize = Model?.Pagination?.PageSize;
    int? totalPages = Model?.Pagination?.TotalPages;
    string? category = Model?.Pagination?.Category;
}

<section class="courses">
    <div class="container">

        @if (TempData["ErrorMessage"]?.ToString() == "error")
        {
            <div class="error-msg">No courses found, check api services</div>
        }

        <div class="course-cards">
            @if (Model?.Courses != null && Model?.Categories != null)
            {
                @foreach (var course in Model.Courses)
                {
                    <div class="card">
                        <a class="bookmark" asp-action="SaveCourse" asp-controller="Account" asp-route-id="@course.Id">
                            <div class="hover-message">Join</div>
                            <div class="triangle"></div>
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                        @if (course.IsBestSeller)
                        {
                            <p class="best-seller">Best seller</p>
                        }
                        <div class="pic">
                            <img src="/images/@course.PictureUrl" alt="laptop" />
                        </div>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                            <div class="info">
                                <div class="title">@course.Title</div>
                                <p>By @course.Author</p>
                                @if (course.DiscountPrice != "")
                                {
                                    <label id="discount">$@course.DiscountPrice</label>
                                    <label id="price"> $@course.Price</label>
                                }
                                else
                                {
                                    <label>$@course.Price</label>
                                }
                                <div class="line"></div>
                                <div class="time-rates">
                                    <div><i class="fa-regular fa-clock"></i> <span>@course.Hours hours</span></div>
                                    <div><i class="fa-light fa-thumbs-up"></i> <span>@course.LikesInProcent% (@course.LikesInNumbers K)</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>

        @if (Model?.Pagination != null && totalPages > 1)
        {
            <div class="pagination">
                <a class="arrow" href="@Url.Action("Index", new { category = category, pageNumber = ( currentPage > 1 ? currentPage - 1 : 1 ), pageSize = pageSize })"><i class="fa-solid fa-chevron-left"></i></a>
                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == currentPage)
                    {
                        <span class="number active">@i</span>
                    }
                    else
                    {
                        <a class="number" href="@Url.Action("Index", new { category = category , pageNumber = i, pageSize = pageSize })">@i</a>
                    }
                }
                <a class="arrow" href="@Url.Action("Index", new { category = category, pageNumber = (currentPage < totalPages ? currentPage + 1 : totalPages) , pageSize = pageSize })"><i class="fa-solid fa-chevron-right"></i></a>
            </div>
        }
    </div>
</section>
