@model ShowcaseViewModel

<div class="showcase">
    <div class="container">
        <div class="content">
            <div class="showcase-title">
                <h1>@Model.Title</h1>
                <p>@Model.Text</p>
                <a class="btn-theme-s" asp-controller="@Model.Link.Controller" asp-action="@Model.Link.Action"><span>@Model.Link.Text</span></a>
            </div>
            <div class="logos">
                <p class="h6">@Model.BrandsTitle</p>

                @if (Model.Brands != null)
                {
                    foreach (var brand in Model.Brands)
                    {
                        <img src="@brand.Src" alt="@brand.AltText" />
                    }
                }
            </div>
        </div>
        <img class="showcase-image" src="@Model.ShowcaseImage.Src" alt="@Model.ShowcaseImage.AltText" />
    </div>
</div>


