@model AccountBasicInfoFormModel

<div class="basic-details">
    <h2>Account details</h2>
    <h5>Basic info</h5>
    <div class="details-form-group">

        <form method="post" novalidate asp-controller="Account" asp-action="BasicInfo">

            <div class="names">
                <div id="form-firstName" class="input-group">
                    <label asp-for="@Model.FirstName"></label>
                    @if (Model.IsExternalAccount == true)
                    {
                        <input class="gray-background" asp-for="@Model.FirstName" readonly>
                    }
                    else
                    {
                        <span asp-validation-for="@Model.FirstName"></span>
                        <input asp-for="@Model.FirstName">
                    }
                </div>

                <div id="form-lastName" class="input-group">
                    <label asp-for="@Model.LastName"></label>
                    @if (Model.IsExternalAccount)
                    {
                        <input class="gray-background" asp-for="@Model.LastName" readonly />
                    }
                    else
                    {
                        <span asp-validation-for="@Model.LastName"></span>
                        <input asp-for="@Model.LastName" />
                    }
                </div>
            </div>

            <div class="email-phone">
                <div id="form-email" class="input-group">
                    <label asp-for="@Model.Email"></label>
                    @if (Model.IsExternalAccount)
                    {
                        <input class="gray-background" asp-for="@Model.Email" readonly />
                    }
                    else
                    {
                        <span asp-validation-for="@Model.Email"></span>
                        <input asp-for="@Model.Email" />
                    }
                </div>

                <div id="form-phone" class="input-group">
                    <label asp-for="@Model.Phone"></label>
                    <span asp-validation-for="@Model.Phone"></span>
                    <input asp-for="@Model.Phone">
                </div>
            </div>

            <div id="form-bio" class="input-group">
                <label asp-for="@Model.Bio">Bio <span>(optional)</span></label>
                <textarea asp-for="@Model.Bio"></textarea>
            </div>

            <div class="buttons">
                <button type="button" class="btn-gray">Cancel</button>
                <button type="submit" class="btn-theme">Save changes</button>
            </div>

        </form>
    </div>
    <hr />
</div>
