@model FeaturesModel

<div class="features">
    <div class="container">
        <div class="section-title">
            <h1>@Model.Title</h1>
            <p>@Model.Text</p>
        </div>
        <div class="boxes">
            @foreach (var box in Model.FeaturesBoxes)
            {
                <div class="@box.BoxClass">
                    <img src="@box.Image.Src" alt="@box.Image.AltText" />
                    <h5>@box.BoxTitle</h5>
                    <p>@box.BoxText</p>
                </div>
            }
        </div>
    </div>
</div>