@model WorkToolsModel 
@{

}
<div class="top-work-tools">
    <div class="container">
        <div class="section-title">
            <h1>@Model.Title</h1>
            <p>
                @Model.Paragraph
            </p>
        </div>
        <div class="cards">
            @foreach(var card in Model.AppBoxModels)
            {
                <a href="#">
                    <div class="card">
                        <img src="@card.ImageModel.Src" alt="@card.ImageModel.AltText" />
                        <p>@card.Text</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
